// general
@import "libs/normalize.scss";
@import "fonts.scss";
@import "visually-hidden.scss";
@import "scaffolding.scss";

// layout
@import "layout/main.scss";
@import "layout/container.scss";
@import "layout/layout.scss";
@import "layout/popup.scss";
@import "layout/layout-form.scss";
@import "layout/sign-form.scss";

// blocks
@import "blocks/icon.scss";
@import "blocks/close.scss";
@import "blocks/select.scss";
@import "blocks/cart-list.scss";
@import "blocks/cart.scss";
@import "blocks/product.scss";
@import "blocks/additional-list.scss";
@import "blocks/cart-form.scss";
@import "blocks/footer.scss";
@import "blocks/order.scss";
@import "blocks/user.scss";
@import "blocks/tel-form.scss";
@import "blocks/address-form.scss";
